div.punkt{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

p.punkt{
    font-size: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.pytanie{
    width: 90%;
    height: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

p.pytanie{
    height: 100%;
    font-size: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.pole{
    width: 90%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}

input.pole{
    width: 100%;
    height: 100%;
    text-align: center;
}

div.button{
    margin-top: 5%;
    width: 60%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

input.button{
    width: 100%;
    height: 100%;

}

